DISCORD_TOKEN=discord-bot-token

NODE_ENV=PRODUCTION # DEVELOPMENT, PRODUCTION
OWNERS=319183644331606016 # comma separated list of user IDs: 319183644331606016,473562798341881877

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=redis_password

PG_URL=postgresql://user:password@localhost:5432/dbname

NIXPACKS_NODE_VERSION=22

# Make sure to rename the file to .env and to fill in the values
